<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<md-grid-list cols="4" [rowHeight]="tileHeight">
  <!-- tours tile -->
  <md-grid-tile
      colspan="1"
      rowspan="1"
      [style.background]="'lightblue'">
    <app-tours [tours]="tours.data | async"></app-tours>
  </md-grid-tile>
  <!-- maps tile -->
  <md-grid-tile
    colspan="3"
    rowspan="2"
    [style.background]="'lightgreen'">
    map tile
  </md-grid-tile>
  <!-- waypoints tile -->
  <md-grid-tile
    colspan="1"
    rowspan="1"
    [style.background]="'brown'">
    <app-waypoints></app-waypoints>
  </md-grid-tile>
  <!-- driver data tile -->
  <md-grid-tile
    colspan="4"
    rowspan="1"
    [style.background]="'lightyellow'">
    driver data
  </md-grid-tile>
</md-grid-list>
