<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div fxLayout="row">
  <div fxLayout="column" fxFlex="30">
    <!-- tours tile -->
    <div>
      <app-tours
        [tours]="(tours | async).data"
        (onAddTour)="handleAddTour($event)"
        (onRemoveTour)="handleRemoveTour($event)"
        (onSelectTour)="handleSelectTour($event)"
      ></app-tours>
    </div>

    <!-- waypoints tile -->
    <div>
      <app-waypoints
        [selectedTour]="(tours | async).selectedTour"
        (onAddWaypoint)="handleAddWaypoint($event)"
        (onRemoveWaypoint)="handleRemoveWaypoint($event)"
      >
      </app-waypoints>
    </div>
  </div>
  <!-- maps tile -->
  <div fxFlex>
    <md-card fxFlex>
      <md-card-title>
        Map goes here
      </md-card-title>
      <md-card-content>
        Lorem ipsum...
      </md-card-content>
    </md-card>
  </div>
</div>

<div fxLayout="row">
  <!-- driver data tile -->
  <md-card fxFlex>
    <md-card-title>
      Driver Data
    </md-card-title>
    <md-card-content>
      Lorem ipsum...
    </md-card-content>
  </md-card>
</div>
