<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div fxLayout="row">
  <div fxLayout="column" fxFlex="20">
    <!-- tours tile -->
    <div>
      <app-tours
        [tours]="(tours | async).data"
        (onAddTour)="handleAddTour($event)"
        (onRemoveTour)="handleRemoveTour($event)"
        (onSelectTour)="handleSelectTour($event)"
      ></app-tours>
    </div>

    <!-- waypoints tile -->
    <div>
      <app-waypoints
        [selectedTour]="(tours | async).selectedTour">
      </app-waypoints>
    </div>
  </div>
  <!-- maps tile -->
  <div fxFlex="80">
    big map goes here
  </div>
</div>

<div fxLayout="row" style="background-color: lightblue">
  <!-- driver data tile -->
  driver data
</div>
